.left{
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: lightgrey;
}

div{
	text-align: center;
	padding-top: 70px;
}

.right{
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: lightpink;
}

.rocket{
	position: absolute;
	width:20px;
	height: 100px;
	background-color: blue;
	bottom: 100px;
	left: 50%;
	z-index: 10;
	transition: bottom 10000ms;
}

.a3 .rocket,
.a4 .rocket{
	bottom: 1000px;
}

.a1 .rocket{
	transition: none;
}

.ground{
	position: absolute;
	width:100%;
	height: 20px;
	background-color: green;
	bottom: 30px;
	left: 0px;
}

.b1,
.b2,
.b3,
.b4,
.b5{
	display: none;
}

.a1 .b1,
.a2 .b2,
.a3 .b3,
.a4 .b4,
.a5 .b5{
	display: block;
}